.App {
	text-align: center;
}

table {
	counter-reset: tableCount;
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}

/* .counterCell { */
/* text-align: center; */
/* width: 50px; */
/* } */

.button-center {
	text-align: center;
}

.Modal {
	position: relative;
	top: 250px;
	left: 500px;
	right: 20px;
	bottom: 20px;
	background-color: #f5f5f5;
	width: 500px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 20px;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.357);
}

.button-center {
	text-align: center;
}

.fieldsetDiv {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* justify-items: center; */
	justify-self: center;
	text-align: right;
	align-items: center;
}

Nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
