@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body,
html {
	background-color: rgba(6, 143, 6, 0.57);
}

.App {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

table {
	counter-reset: tableCount;
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}

.counterCell {
	text-align: center;
	width: 50px;
}

.button-center {
	text-align: center;
}

.Modal {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 600px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 20px;
	background-color: #065d1be8;
	color: rgba(255, 0, 0, 0.883);
	margin: 0 auto;
	margin-top: 5vh;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.591);
}

.button-center {
	text-align: center;
}

.fieldsetDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	text-align: right;
	align-items: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

Nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: url('../images/Sleeping.png') left no-repeat,
		rgba(240, 239, 239, 0.954);
	background-size: 150px;
	height: 100px;
	font-family: 'Kaushan Script', cursive;
}

a {
	color: green;
}

a:hover {
	color: red;
}

a:active {
	color: gold;
}

.title {
	text-align: center;
}

.updateInput {
	width: 300px;
}

.updateLabel {
	font-size: 40px;
	color: gold;
}

.title {
	font-family: 'Kaushan Script', cursive;
	font-size: 70px;
	animation: titleAni 3s infinite alternate forwards;
}

@keyframes titleAni {
	0% {
		color: red;
		background-image: url('../images/money.gif');
		background-size: 50%;
	}
	50% {
		color: gold;
		/* background-image: url('../images/money.gif'); */
		/* background-size: contain; */
	}
	75% {
		color: rgb(121, 213, 28);
		background-image: url('../images/money.gif');
		background-size: 50%;
	}
	100% {
		color: red;
		/* background-image: url('../images/money.gif'); */
		/* background-size: contain; */
	}
}

.responseFont {
	color: white;
}

.addButton {
	display: flex;
	justify-content: center;
}
